[*.cs]

#### Code analysis ####

# CA1044: Properties should not be write only
dotnet_diagnostic.CA1044.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none
